.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out infinite alternate-reverse;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 80vh;
    display: block;
    object-fit: cover;
}

@media (max-width: 768px) {
    .slide img {
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .slide img {
        height: 30vh;
    }
}
